body {
	font-size: 16px;
}

.imgcontainer>a>canvas {
	width:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.tools {
	max-width: 300px;
}

button {
	width:100%;
}

input {
	width:100%;
}

.hidden {
	display: none;
}

.grid_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 1024px) {
	.col-xs-2{
	  flex-basis: 100%;
	}
  }

  .header {
	height: 40px;
	width: 100%;
  }